.TrainCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #222;
    color: white;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    width: 10rem;
    max-height: 15rem;
    transition: transform .3s ease, border .3s ease;
}

.TrainCard:hover {
    transform: scale(1.1);
    border: 1px solid var(--primary);
}

.TrainCard img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.TrainCard strong {
    text-align: center;
    color: var(--primary);
}

.TrainCard p {
    text-align: center;
}